doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title 股基!股基!
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:300,400,700')
  link(rel='stylesheet' href='./style.css')
  link(rel='stylesheet' href='./game.css')

  link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')

  link(rel="stylesheet", href="輪播CSS/slick.css")
  link(rel="stylesheet", href="輪播CSS/slick-theme.css")

head
  
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

script(src='https://unpkg.com/aos@next/dist/aos.js')


  
 




//- 學習導引
.bar_box1.at_top
  .step
    a(href="https://bloosom0709.github.io/stock-strategy-1/") 
      .step_h3.step1 1
      p.bar_p1 投資策略
  .step_space.step_space1
  .step
    a(href="https://bloosom0709.github.io/stock-stockName-EPS/") 
      .step_h3.step2 2
      p.bar_p2 股票名詞
  .step_space.step_space2
  .step
    a.Step_a(href="#section_step1") 
      .step_h3.step3 3
      p.bar_p3 策略契合度

//- 長短期
section#section_step1
.container.intro1.Pagination
  
  img.intro_decorate(src="https://i.imgur.com/jAoeuDa.png", alt="")
  img.intro_decorate.decorate_bottom(src="https://i.imgur.com/fvzgDz7.png", alt="")
  .row
    .col-sm-12.col-md-8.col-lg-6.img_LS(data-aos="fade-right")  
      .img_1
        img(src='https://i.imgur.com/DNb1GdC.png' alt='')
    .col-sm-0.col-md-4.col-lg-6
      .row 
        .Text.Text_long(style="transform:rotate(5deg);").col-sm-12.col-md-12.col-lg-12(data-aos="fade-up" data-aos-duration="1500")
          p.step_pink step3
          p.title.Title1 策略契合度
          p.contain_blue  
            |內容 | 熟悉step1 / 2 的觀念
          p.contain2
            |透過我們的情境化遊戲，了解自己的投資傾向
            |並透過情境熟悉基本知識，讓你更了解股票概念!!
          
//- .container.intro1.strategy1  
//-   .row
//-     .col-sm-12.col-md-8.col-lg-6.img_LS(data-aos="fade-right")  
//-       .img_1
//-         img(src='https://i.imgur.com/8UWbtDF.png' alt='')
//-     .col-sm-0.col-md-4.col-lg-6
//-       .row 
//-         .Text.Text_long(style="transform:rotate(5deg);").col-sm-12.col-md-12.col-lg-12(data-aos="fade-up" data-aos-duration="1500")
//-           p.title.Title1 投資策略1
//-           p.contain1
//-             |要玩股票必須先了解自己適合的投資策略，
//-             |大體分為長期策略與短期策略。
          
//-         .col-sm-12.col-md-12.col-lg-12.img_LS
//-           img(src='https://i.imgur.com/Q2PQPPd.png' alt='')

.container.slick 
  .row 
    .col-sm-12.col-md-12.col-lg-12
      ui.slick2
        li
          img(src="img/game1.png", alt="")
        li
          img(src="img/game2.png", alt="")
        li
          img(src="img/game3.png", alt="")
        li
          img(src="img/game4.png", alt="")
        li
          img(src="img/game5.png", alt="")

//- .container.video   
//-     .row 
//-         .col-sm-12.col-md-12.col-lg-12.videobox
//-             iframe(frameborder='0' src='https://www.youtube.com/embed/SORD03t7nlo' allowfullscreen='true')
.container.download
    
    img.intro_decorate(src="https://i.imgur.com/jAoeuDa.png", alt="")
    .download_Text
      .col-sm-12.col-md-12.col-lg-12(data-aos="fade-up" data-aos-duration="1500")
       
        a.game_BTN(href='https://www.ncyu.edu.tw/NewSite/gradation.aspx?site_content_sn=8314') 手機版 | 載點
    img(src="https://i.imgur.com/SDNS0O7.png", alt="")
.container.Footer 
    .row
      a(href="https://bloosom0709.github.io/stock-index/")
        img(src="https://i.imgur.com/UN3wUWc.png")

.container.nextPage 

    .page_button
      a(href="https://bloosom0709.github.io/stock-strategy-2/")  
        img.page_img1(src="https://i.imgur.com/QWB3NDJ.png", alt="") 
        .page_h3.page1 2
        p 股票名詞
    
    .page_button(style="visibility: hidden;")
      a(href="")         
         .page_h3.page2 1-2
         p 投資策略2
         img.page_img2(src="https://i.imgur.com/T5NzjQj.png", alt="") 

.container.botton 
  .row 
    .col-sm-12.col-md-12.col-lg-12
      p 111級嘉義大學數位系畢業專題 @股基股基



// partial
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
script(src='./script.js')
script.
  AOS.init();

script(src="輪播JS/slick.js") 
script.
  $('.slick2').slick({
    dots: true
  });
  